body {
    background-color: rgb(156, 20, 38) !important;
}

h1, h3, h5 {
    color: white;
    text-align: center;
}

h1 {
    font-family: cursive;
    padding: 25px;
}

h3, h5 {
    font-family: sans-serif;
}

.input-group {
    padding: 10px 25px 10px 25px;
    text-align: center;
}

.giftCard {
    margin: 20px;
    box-shadow: 5px 5px black;
}

.text-center {
    padding: 10px 0px 20px 0px;
    ;
}

.card-header {
    color: white;
}

.btn {
    border: 10px solid black;
    box-shadow: 4px 4px black;
}